---
import PostLayout from "../../layouts/PostLayout.astro";
---

<PostLayout>
  <div>
    <div class="chapter-title">Lambda-3</div>
    <div class="subtitle">
      [Archivo recuperado // Última transmisión: Lambda-3]
    </div>
    <div class="doc-frag">
      <strong>Unidad Lambda-3</strong><br />
      <span style="font-size:0.95em;">Fecha desconocida</span><br />
      <span
        style="font-size:0.85em; color:var(--text-muted); font-style:italic;"
        >Transmisión clase: Epitafio (autoactivada)</span
      >
    </div>
  </div>
</PostLayout>
