---
import PostLayout from "../../layouts/PostLayout.astro";
---

<PostLayout>
  <div>
    <div class="chapter-title">Lambda-3</div>
    <div class="subtitle">
      [Archivo recuperado // Última transmisión: Lambda-3]
    </div>
  </div>
</PostLayout>
